hr {
  clear: both;
}

.profile-pic {
  width: 200px;
  padding: 0 0 0 20px;
  float: right;
}

.central {
  width: 100%;
}

.alumni {
  float: none;
  padding: 20px;
}

.alumni-list {
  list-style-type: none;
  text-align: center;
  width: 100%;
}

.alumni-list li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
