table.documentation { width: 100%; }

table.documentation tr td             {
    text-align: right;
    border-bottom: 1px dotted grey;
}
table.documentation tr td:first-child { text-align: left; }

table.documentation span.indent-1 { margin-left: 20px; }
table.documentation span.indent-2 { margin-left: 40px; }

.warning {
    border: 1px dotted red;
    padding: 10px 10px;
    background-color: #E5E5E5;
    font: #9D9D9D;
}

strong {
    font-weight: 600;
}

table.documentation-table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

table.documentation-table tr {
  border-top: 1px solid #ccc;
}

table.documentation-table tr code {
  background-color: #ffffff;
}

table.documentation-table tr:nth-child(2n) {
  background-color: #f0f0ff;
}

table.documentation-table tr:nth-child(2n) code {
  background-color: #f0f0ff;
}

table.documentation-table th {
  font-weight: 600;
}

table.documentation-table th,
table.documentation-table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
