/* Imports */
/* ----------------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);

/* Base */
/* ----------------------------------------------------------*/
@import url("/css/documentation.css");

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #F7F7F7;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

li { list-style-position: inside; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 960px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  border-top: 5px solid #ff7911;
  min-height: 80px;
  background-color: white;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #B1B1B1;
  font-size: 20px;
  float: left;
  font-style: italic;
  line-height: 70px;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.site-title img {
  position: relative;
  bottom: -10px;
}

.site-title span.title {
  bottom: -3px;
  position: relative;
  padding-left: 10px;
}

.top-banner {
  background-color: #2C63B1;
}

.top-banner .banner-container {
  max-width: 940px;
  margin: auto;
}

.top-banner .banner-container #recruitment-video {
  padding-bottom: 73px;
}

.site-nav {
  float: right;
  line-height: 78px;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  padding: 0 17px;
  height: 78px;
  color: #000;
  display: inline-block;
  font-weight: bold;
}

.site-nav .page-link:hover {
  background-color: #F6F6F6;
  border-bottom: 2px solid #ff7911;
  text-decoration: none;
}

.site-nav .page-link.active{
  background-color: #EFEFEF;
  border-bottom: 2px solid #ff7911;
  color: black;
}

/* Site footer */

.site-footer {
  padding: 10px 0;
  clear: both;
}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

.site-footer .column { float: left; margin-bottom: 15px; }

.footer-col-1 {
  width: 270px; /*fallback*/
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
  margin-right: 10px
}
.footer-col-2 {
  width: 275px; /*fallback*/
  width: -webkit-calc(33.125% - 10px);
  width: -moz-calc(33.125% - 10px);
  width: -o-calc(33.125% - 10px);
  width: calc(33.125% - 10px);
  margin-right: 10px
}
.footer-col-3 {
  width: 235px; /*fallback*/
  width: -webkit-calc(31.875%);
  width: -moz-calc(31.875%);
  width: -o-calc(31.875%);
  width: calc(31.875%);
  padding-top: 18px;
}

.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
  font-size: 13px;
  color: #000;
}

.site-footer p.text {
  font-style: italic;
}

.site-footer .icon {
  padding-right: 5px;
}

.github-icon-svg,
.twitter-icon-svg,
.email-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

#footer-description {
  position: relative;
  bottom: 30px;
}

.page-title {
    height: 75px;
    background-color: rgb(41,97,180);
}

.page-title .wrap {
    position: relative;
    height: 100%;
}

.page-title h1 {
    color: #F7F7F7;
    text-transform: uppercase;
    font-size: 2.3em;
    font-weight: bold;
    bottom: -14px;
    position: absolute;
}

.post a.read-more, .post a.read-more:visited {
    color: #FF9304;
    font-size: 1.6em;
    font-style: italic;
}

/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  /*padding: 30px 0;*/
}


/* Home styles */
/* ----------------------------------------------------------*/

.home h1 {
  margin-bottom: 25px;
  font-size: 36px;
}

.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 900;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}

/* Home page styles */
/* ----------------------------------------------------------*/

.header-section {
  background-color: #F7F7F7;
  bottom: 1px;
  position: relative;
}

.tile-container {
  max-width: 960px;
  margin: auto;
  padding: 0 30px;
}

.tile-container a {
  color: #3D3D3D;
}

.tile-container a:hover {
  color: #000;
}

.tile-container .tile {
  width: 249px;
  display: inline-block;
  padding: 40px 68px 50px 0;
  text-align: center;
}

.tile-container .tile .title {
  text-decoration: none;
  font-size: 25px;
}

.tile-container .tile .title h3 {
  padding: 10px 0;
  font-weight: bold;

}

.tile-container .tile p {
  font-size: 17px;
}

.tile-container .tile .title img.three-svg {
  width: 200px;
}

.blog-summary {
  padding: 30px 0;
}

.post .post-header a {
  color: #3D3D3D;
}

.post {
  font-size: 18px;
  background-color: white;
  padding: 50px;
  margin-top: 40px;
}

.go-to-blog {
  text-align: center;
  font-size: 28px;
}

/* About page styles */
/* ----------------------------------------------------------*/

.about {
  font-size: 18px;
  background-color: white;
  padding: 30px;
  margin-top: 30px;
}

.about #team-photo {
  margin: 0;
}

.about .post-content #reevoo-engineering {
  font-weight: 600;
  margin-top: 13px;
}

.about .post-content {
  margin: 0;
}

/* Documentation page styles */
/* ----------------------------------------------------------*/

.docs-wrap {
  max-width: 950px;
  margin: auto;
}

.content-container {
  max-width: 700px;
  float: right;
}

.left-nav {
  max-width: 200px;
  float: left;
  margin-top: 40px;
}

.left-nav li {
  list-style: none;
  margin-left: 10px;
}

.left-nav li li {
  list-style: none;
  margin-left: 20px;
}

/* Post styles */
/* ----------------------------------------------------------*/

.post a         { color: #2a7ae2; text-decoration: none; }
.post a:hover   { color: #000; text-decoration: underline; }
.post a:visited { color: #205caa; }

.post-header { margin: 20px 0 30px; }

.post-header h1 {
  font-size: 36px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
}

.post-header .meta {
  font-size: 15px;
  color: #FD9027;
  margin-top: 5px;
  font-weight: light;
}

.blog-item {
    border-bottom: 1px solid #2961B4;
    padding: 0px 25px 50px 25px;
}

.blog-item .post-content{
    margin: 30px 0 15px 0;
}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 20px 0; }


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin-bottom: 25px;
  font-size: 36px;
}

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.post-content img {
  max-width: 960px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow: auto;
}

.post code { padding: 1px 5px; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

p > code { white-space: nowrap; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */


/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

  .footer-col-1 { width: 50%; }

  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }

}

@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px; }

}
