/* Post styles */
/* ----------------------------------------------------------*/


.post {
  box-sizing: border-box;
  font-size: 18px;
  background-color: white;
  padding: 30px 50px;
}

.post a         { color: #2a7ae2; text-decoration: none; }
.post a:hover   { color: #000; text-decoration: underline; }

.post-header { margin: 20px 0 30px; }

.post-header h1 {
  font-size: 36px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
}

.post-header .meta {
  font-size: 15px;
  color: #FD9027;
  margin-top: 5px;
  font-weight: light;
}

.blog-item {
    border-bottom: 1px solid #2961B4;
    padding: 0px 25px 50px 25px;
}

.blog-item .post-content{
    margin: 30px 0 15px 0;
}

.arrow-list .post-content > * {
margin: 0;
}

.arrow-list-item .post {
  padding: 15px 40px 15px 40px;
}

.arrow-list-item .post-link{
  color: #000;
}

.arrow-list-item span.arrow {
  padding-left: 20px;
  font-size: 35px;
  color: #FD7922;
}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 20px 0; }


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin-bottom: 25px;
  font-size: 36px;
}

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.post-content img {
  max-width: 900px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content p {
  overflow: auto;
}

pre,
code {
  background-color: #f0f0ff;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  overflow: auto;
}

code {
  padding: 1px 5px;
  display: inline-block;
  vertical-align: bottom;
}

p > code {
  white-space: nowrap;
}

pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

.post table {
  border-collapse: collapse;
  margin: auto;
}

.post th, .post td {
  padding: 0.25em 1em;
}

.post td {
  border: 1px solid #eee;
}

.post a.read-more {
  color: #FF9304;
  font-size: 1.6em;
  font-style: italic;
}

.post .post-header a {
  color: #3D3D3D;
}

.post .apply-cta, .post .apply-cta a, .post .apply-cta a:hover {
  background-color: #D24A21;
  color: #FFF;
  padding: 20px;
  position: relative;
  float: right;
  bottom: 50px;
  font-size: 21px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.75);
}
