/*
 * Branding CSS file. This file is intentially left blank. If you want to
 * customize Swagger Editor you can serve this file with your CSS that overrides
 * or extends Swagger Editor styling.
*/

main, main .stretch {
  position: static;
}

h1 {
  margin: 0 !important;
}
header img {
  vertical-align: baseline;
}

h3.section-header {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 30px;
}

main .preview-wrapper {
  margin: 0 !important;
}

main .post {
  padding: 0 !important;
}

header *, .page-title {
  box-sizing: content-box;
}

.post td {
  border: none !important;
}
