---
layout: home
---
<div class="home">
  <div class="header-section">
    <div class="top-banner">
      <div class="banner-container">
        <iframe id="recruitment-video" src="//player.vimeo.com/video/110579959?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <div class="tile-container">
      <a href="/about">
        <div id="projects" class="tile">
          <div class="title">
            <img class="three_svg" src="/images/icon_about_us.svg" alt="about us"/>
            <h3>About us</h3>
          </div>
          <p>
            Reevoo is a pioneering Ratings & Reviews provider. Our engineering team is awesome.
          </p>
        </div>
      </a>
      <a href="/docs">
        <div id="documentation" class="tile">
          <div class="title">
            <img class="three_svg" src="/images/icon_documentation.svg" alt="documentation" />
            <h3>Documentation</h3>
          </div>
          <p>
            Find all you need to know about our marvellous APIs, in our fabulous documentation.
          </p>
        </div>
      </a>
      <a href="/projects">
        <div id="projects" class="tile">
          <div class="title">
            <img class="three_svg" src="/images/icon_projects.svg" alt="projects" />
            <h3>Projects</h3>
          </div>
          <p>
            We love open source&hellip; check out our open source projects right here on the interwebs!
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="blog-summary">
    <div class="tile-container">
      <ul class="posts">
        {% for post in site.categories.blog %}
        <li>
          <div class="post">
            <article class="post-content">
              <header class="post-header">
                <h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
                <p class="meta">{{ post.date | date: "%b %-d, %Y" }}
                  {% if post.author %}
                    -
                    {% if post.github %}
                      <a target="_blank" href="//github.com/{{ post.github }}">
                        {{ post.author }}
                      </a>
                    {% else %}
                      {{ post.author }}
                    {% endif %}
                  {% endif %}
                </p>
              </header>
              {{ post.excerpt | strip_html }}<br/>
              <a class="read-more" href="{{ post.url }}">read more...</a>
            </article>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="go-to-blog">
      <a href="/blog">See all blog posts ></a>
    </div>
  </div>
</div>
