<nav>
  {% for section in site.data.docs %}
  <h3>{{ section.title }}</h3>
  <ul>
    {% for item in section.items %}
      <li>
        {% if item.subitems %}
          {{ item.title }}
          <ul>
            {% for subitem in item.subitems %}
              <li>
                <a href="/docs/{{ section.id }}/{{ item.id }}/{{ subitem.id }}"{% if page.id == subitem.id %} class="active"{% endif %}>
                  {{ subitem.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <a href="/docs/{{ section.id }}/{{ item.id }}"{% if page.id == item.id %} class="active"{% endif %}>
            {{ item.title }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endfor %}
</nav>
