---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}
      {% if page.author %}
        -
        {% if page.github %}
          <a target="_blank" href="//github.com/{{ page.github }}">
            {{ page.author }}
          </a>
        {% else %}
          {{ page.author }}
        {% endif %}
      {% endif %}
    </p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

  {% if page.soapboxContentId %}
  <reevoo-comments-widget content-id='{{ page.soapboxContentId }}'></reevoo-comments-widget>

  <link type='text/css' rel='stylesheet' href='https://comments.reevoo.com/css/widgets.css' />
  <script type='text/javascript' src='https://comments.reevoo.com/js/widgets.js'></script>
  {% endif %}

</div>
