{
    "swagger": "2.0",
    "info": {
        "title": "myReevoo Fast Response API",
        "description": "",
        "version": "1.0.0"
    },
    "host": "fr-api.reevoo.com",
    "basePath": "/api/v1",
    "tags": [
        {
            "name": "search",
            "description": "Search the content types (reviews and conversations)"
        },
        {
            "name": "responses",
            "description": "Respond to reviews and questions"
        }
    ],
    "schemes": [
        "https"
    ],
    "paths": {
        "/search/product_reviews": {
            "post": {
                "tags": [
                    "search"
                ],
                "summary": "Search product reviews",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Search"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Search result",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "summary": {
                                    "$ref": "#/definitions/SearchResultSummary"
                                },
                                "documents": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/ProductReview"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "access_token": []
                    }
                ]
            }
        },
        "/search/customer_experience_reviews": {
            "post": {
                "tags": [
                    "search"
                ],
                "summary": "Search customer experience reviews",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Search"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Search result",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "summary": {
                                    "$ref": "#/definitions/SearchResultSummary"
                                },
                                "documents": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/CustomerExperienceReview"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "access_token": []
                    }
                ]
            }
        },
        "/search/conversation_questions": {
            "post": {
                "tags": [
                    "search"
                ],
                "summary": "Search conversation questions",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Search"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Search result",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "summary": {
                                    "$ref": "#/definitions/SearchResultSummary"
                                },
                                "documents": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/ConversationQuestion"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "access_token": []
                    }
                ]
            }
        },
        "/responses": {
            "post": {
                "tags": [
                    "responses"
                ],
                "summary": "Create a response",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ResponseWriteAttributes"
                        },
                        "description": "(All the attributes are optional except of content_id and content_type)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Created response",
                        "schema": {
                            "$ref": "#/definitions/Response"
                        }
                    },
                    "404": {
                        "description": "Not authorized to create a response"
                    }
                },
                "security": [
                    {
                        "access_token": []
                    }
                ]
            }
        },
        "/responses/{id}": {
            "put": {
                "tags": [
                    "responses"
                ],
                "summary": "Update a response",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid",
                        "description": "Id of the response"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ResponseWriteAttributes"
                        },
                        "description": "(All the attributes are optional)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated responses",
                        "schema": {
                            "$ref": "#/definitions/Response"
                        }
                    },
                    "404": {
                        "description": "Response cannot be found or user not is authorized to updade it"
                    }
                },
                "security": [
                    {
                        "access_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "responses"
                ],
                "summary": "Update a response",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid",
                        "description": "Id of the response"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Responses deleted"
                    },
                    "404": {
                        "description": "Response cannot be found or user is not authorized to delete it"
                    }
                },
                "security": [
                    {
                        "access_token": []
                    }
                ]
            }
        }
    },
    "securityDefinitions": {
        "access_token": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "definitions": {
        "Search": {
            "type": "object",
            "properties": {
                "query_string": {
                    "type": "string",
                    "description": "Query string in Lucene query format"
                },
                "filters": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/SearchFilter"
                    }
                },
                "page": {
                    "type": "integer",
                    "default": 1
                },
                "per_page": {
                    "type": "integer",
                    "default": 20
                },
                "sort": {
                    "type": "string",
                    "default": "_score",
                    "enum": [
                        "_score",
                        "branch.code",
                        "branch.name",
                        "customer_ref",
                        "delivered_at",
                        "display_date",
                        "has_content",
                        "helpful",
                        "id",
                        "legacy_response_status",
                        "locale",
                        "metadata",
                        "not_helpful",
                        "order_ref",
                        "overall_score",
                        "product.category.id",
                        "product.category.name",
                        "product.description",
                        "product.image_url",
                        "product.model",
                        "product.name",
                        "product.sku",
                        "published_at",
                        "purchased_at",
                        "removed_from_queue",
                        "response_status",
                        "retailer.friendly_name",
                        "retailer.name",
                        "retailer.trkref",
                        "retailer_review_id",
                        "review_content.bad_points",
                        "review_content.general_comments",
                        "review_content.good_points",
                        "review_tags",
                        "review_type",
                        "reviewer.facebook_avatar_ur",
                        "reviewer.facebook_user",
                        "reviewer.first_name",
                        "reviewer.ip_address",
                        "reviewer.location",
                        "reviewer.segment",
                        "status",
                        "usefulnes"
                    ]
                }
            }
        },
        "SearchFilter": {
            "type": "object",
            "maxProperties": 2,
            "required": [
                "field"
            ],
            "properties": {
                "field": {
                    "type": "string",
                    "description": "Filter based on this field",
                    "enum": [
                        "branch.code",
                        "branch.name",
                        "customer_ref",
                        "delivered_at",
                        "display_date",
                        "has_content",
                        "helpful",
                        "id",
                        "legacy_response_status",
                        "locale",
                        "metadata",
                        "not_helpful",
                        "order_ref",
                        "overall_score",
                        "product.category.id",
                        "product.category.name",
                        "product.description",
                        "product.image_url",
                        "product.model",
                        "product.name",
                        "product.sku",
                        "published_at",
                        "purchased_at",
                        "removed_from_queue",
                        "response_status",
                        "retailer.friendly_name",
                        "retailer.name",
                        "retailer.trkref",
                        "retailer_review_id",
                        "review_content.bad_points",
                        "review_content.general_comments",
                        "review_content.good_points",
                        "review_tags",
                        "review_type",
                        "reviewer.facebook_avatar_ur",
                        "reviewer.facebook_user",
                        "reviewer.first_name",
                        "reviewer.ip_address",
                        "reviewer.location",
                        "reviewer.segment",
                        "status",
                        "usefulnes"
                    ]
                },
                "match": {
                    "type": "string",
                    "description": "Phrase to search in field"
                },
                "include": {
                    "type": "array",
                    "description": "Array of values that field can contain",
                    "items": {
                        "type": "string"
                    }
                },
                "range": {
                    "type": "array",
                    "description": "Array of ranges",
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "SearchResultSummary": {
            "type": "object",
            "properties": {
                "page": {
                    "type": "integer"
                },
                "per_page": {
                    "type": "integer"
                },
                "total_count": {
                    "type": "integer"
                },
                "total_pages": {
                    "type": "integer"
                },
                "sort_order": {
                    "type": "array",
                    "description": "Array of objects with key of sortable attribute and value of asc or desc order",
                    "items": {
                        "type": "object"
                    }
                }
            }
        },
        "Content": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "type": {
                    "type": "string",
                    "enum": [
                        "product_reviews",
                        "customer_experience_reviews",
                        "conversation_questions"
                    ]
                },
                "status": {
                    "type": "string",
                    "enum": [
                        "published",
                        "rejected"
                    ]
                },
                "locale": {
                    "type": "string"
                },
                "metadata": {
                    "type": "object"
                },
                "response_status": {
                    "type": "string",
                    "enum": [
                        "no_response",
                        "response_draft",
                        "response_pending",
                        "response_published",
                        "response_rejected"
                    ]
                },
                "draft_company_responses": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Response"
                    }
                },
                "company_responses": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Response"
                    }
                },
                "customer_responses": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Response"
                    }
                },
                "retailer": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string"
                        },
                        "friendly_name": {
                            "type": "string"
                        },
                        "trkref": {
                            "type": "string"
                        }
                    }
                },
                "review_tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "Review": {
            "type": "object",
            "properties": {
                "review_type": {
                    "type": "string",
                    "enum": [
                        "good_bad_points",
                        "general_comments"
                    ]
                },
                "has_content": {
                    "type": "boolean"
                },
                "purchased_at": {
                    "type": "string",
                    "format": "date"
                },
                "published_at": {
                    "type": "string",
                    "format": "date"
                },
                "delivered_at": {
                    "type": "string",
                    "format": "date"
                },
                "customer_ref": {
                    "type": "string"
                },
                "order_ref": {
                    "type": "string"
                },
                "helpful": {
                    "type": "integer"
                },
                "not_helpful": {
                    "type": "integer"
                },
                "usefulness": {
                    "type": "integer"
                },
                "branch": {
                    "type": "object",
                    "properties": {
                        "code": {
                            "type": "string"
                        },
                        "name": {
                            "type": "string"
                        }
                    }
                },
                "review_content": {
                    "type": "object",
                    "properties": {
                        "good_points": {
                            "type": "string"
                        },
                        "bad_points": {
                            "type": "string"
                        },
                        "general_comments": {
                            "type": "string"
                        }
                    }
                },
                "reviewer": {
                    "type": "object",
                    "properties": {
                        "first_name": {
                            "type": "string"
                        },
                        "location": {
                            "type": "string"
                        },
                        "segment": {
                            "type": "string"
                        }
                    }
                },
                "product": {
                    "$ref": "#/definitions/Product"
                }
            }
        },
        "ProductReview": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/Content"
                },
                {
                    "$ref": "#/definitions/Review"
                },
                {
                    "type": "object",
                    "properties": {
                        "overall_score": {
                            "type": "integer"
                        }
                    }
                }
            ]
        },
        "CustomerExperienceReview": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/Content"
                },
                {
                    "$ref": "#/definitions/Review"
                },
                {
                    "type": "object",
                    "properties": {
                        "happy_with_customer_service": {
                            "type": "boolean"
                        },
                        "happy_with_delivery": {
                            "type": "boolean"
                        },
                        "would_buy_again": {
                            "type": "boolean"
                        },
                        "nps": {
                            "type": "integer"
                        }
                    }
                }
            ]
        },
        "ConversationQuestion": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/Content"
                },
                {
                    "type": "object",
                    "properties": {
                        "answer_statut": {
                            "type": "string",
                            "enum": [
                                "no_answers",
                                "customer_answers"
                            ]
                        },
                        "created_at": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "enquirer": {
                            "type": "object",
                            "properties": {
                                "email": {
                                    "type": "string"
                                },
                                "first_name": {
                                    "type": "string"
                                }
                            }
                        },
                        "product_group": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "parametrized_name": {
                                    "type": "string"
                                }
                            }
                        },
                        "products": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Product"
                            },
                            "description": "All the products that belong to the product group"
                        },
                        "question": {
                            "type": "string"
                        },
                        "vetted_at": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                }
            ]
        },
        "Product": {
            "type": "object",
            "properties": {
                "category": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "name": {
                            "type": "string"
                        }
                    }
                },
                "description": {
                    "type": "string"
                },
                "model": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "sku": {
                    "type": "string"
                }
            }
        },
        "Response": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "content": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "integer",
                            "format": "uuid"
                        },
                        "type": {
                            "type": "string",
                            "description": "Content type",
                            "enum": [
                                "product_reviews",
                                "customer_experience_reviews",
                                "conversation_questions"
                            ]
                        }
                    }
                },
                "user": {
                    "type": "object",
                    "description": "Creator of the response",
                    "properties": {
                        "id": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                },
                "type": {
                    "type": "string",
                    "enum": [
                        "public",
                        "private"
                    ]
                },
                "status": {
                    "type": "string",
                    "enum": [
                        "draft",
                        "pending",
                        "published",
                        "rejected"
                    ]
                },
                "subject_line": {
                    "type": "string"
                },
                "text": {
                    "type": "string",
                    "description": "Text of the response"
                },
                "responder": {
                    "type": "object",
                    "properties": {
                        "custom_title": {
                            "type": "string"
                        },
                        "first_name": {
                            "type": "string"
                        },
                        "surname": {
                            "type": "string"
                        },
                        "job_title": {
                            "type": "string"
                        }
                    }
                },
                "reply_to_address": {
                    "type": "string",
                    "description": "Reply-to address to be shown in email to customer"
                },
                "should_notify_customer": {
                    "type": "boolean",
                    "description": "Whether or not to notify the customer"
                },
                "note": {
                    "type": "string",
                    "description": "Note for internal client purpose"
                },
                "created_at": {
                    "type": "string",
                    "format": "date-time"
                },
                "updated_at": {
                    "type": "string",
                    "format": "date-time"
                },
                "deleted_at": {
                    "type": "string",
                    "format": "date-time"
                },
                "deleted_by": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID of user that deleted response"
                }
            }
        },
        "ResponseWriteAttributes": {
            "type": "object",
            "properties": {
                "content_id": {
                    "type": "string",
                    "format": "uuid"
                },
                "content_type": {
                    "type": "string",
                    "enum": [
                        "product_reviews",
                        "customer_experience_reviews",
                        "conversation_questions"
                    ]
                },
                "type": {
                    "type": "string",
                    "enum": [
                        "public",
                        "private"
                    ]
                },
                "status": {
                    "type": "string",
                    "enum": [
                        "draft",
                        "pending",
                        "published",
                        "rejected"
                    ]
                },
                "subject_line": {
                    "type": "string"
                },
                "text": {
                    "type": "string",
                    "description": "Text of the response"
                },
                "responder_custom_title": {
                    "type": "string"
                },
                "responder_first_name": {
                    "type": "string"
                },
                "responder_surname": {
                    "type": "string"
                },
                "responder_job_title": {
                    "type": "string"
                },
                "reply_to_address": {
                    "type": "string",
                    "description": "Reply-to address to be shown in email to customer"
                },
                "should_notify_customer": {
                    "type": "boolean",
                    "description": "Whether or not to notify the customer"
                },
                "note": {
                    "type": "string",
                    "description": "Note for internal client purpose"
                }
            }
        }
    }
}